<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd"> -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
  
  <!-- Servizio per la gestione CRUD di oggetti mappati con hibernate -->
  <bean id="crudeService" class="it.micronixnetwork.application.plugin.crude.service.CrudeServiceImpl">
   	<property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  
  <bean id="objectCreatorService" class="it.micronixnetwork.application.plugin.crude.service.ObjectCreatorServiceImpl">
   	<property name="sessionFactory" ref="sessionFactory"/>
   	<property name="crudeService" ref="crudeService"/>
  </bean>
  
  <!-- Servizio che permette di gestire la persistenza delle query di un utente-->
  <bean id="droolsService" class="it.micronixnetwork.application.plugin.crude.service.CachedDroolsServiceImpl">
   	<property name="sessionFactory" ref="sessionFactory"/>
  </bean>
 
</beans>
