@CHARSET "US-ASCII";

html, body {
	background: crimson;
}

.mp-level{
    
    background: #b5161b;
}

#user_card{
    background-color:#8c2226;
}

.mp-menu ul li > a{
    
    border-bottom:  1px solid #444;
}



.pin{
	border-radius: 12px;
	-webkit-border-radius: 12px;
	background-color: #fff;
	display: block;
	width: 20px;
	height: 20px;
	text-align: center;
	margin-left: auto;
	margin-right:auto;
}

.pin span{
	display:none;
}


.status_pending{
	background-color: rgb(255, 225, 0);
}

.status_done{
	background-color: rgb(100, 255, 100);
}

.status_notneed{
	background-color: white;
}

.status_retry{
	background-color: rgb(255, 225, 0);
}

.status_suspend{
	background-color: rgb(255, 225, 0);
}

.status_wait{
	background-color: rgb(255, 225, 0);
}

.status_retry:before{
	font-size:14px;
	line-height:21px;
	font-weight:bold;
	color:rgb(255, 81, 0);
	content: "R";
}

.status_suspend:before{
	font-size:14px;
	line-height:21px;
	font-weight:bold;
	color:rgb(255, 81, 0);
	content: "S";
}

.status_wait:before{
	font-size:14px;
	line-height:21px;
	font-weight:bold;
	color:rgb(100, 255, 100);
	content: "W";
}

.status_hold{
	background-color: rgb(255, 108, 39);
}

.status-type{
	font-family: gaf;
	font-size: 15px;
	color:#9FB4D5;
}

.status-type span{
	display:none;
	
}

.down_link span span:hover{
font-weight:bold;
color:rgb(255, 153, 0);
}

.down_link:before{
	font-family:gaf;
	font-size:16px;
	content: "\e640";
	padding-right: 5px;
}

.dataTables_empty{
display:none;
}







